
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
}

body {
    background-color: rgb(54, 140, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: row;     
    flex-wrap: wrap;        
    align-items: center;    
    justify-content: center; 
    gap: 20px;              
    padding: 20px;          
}


